<section class="bg-gray-50 dark:bg-gray-200 mt-0"><app-principal></app-principal>
    <header class="bg-orange-400">
        <div class="flex justify-center items-center p-4">
          <label for="HeadlineAct" class="text-white font-medium mr-2">Filtrar por:</label>
          <select name="HeadlineAct" id="HeadlineAct"
            class=" sm:w-1/4 md:w-1/5 p-1 rounded-lg bg-gray-200 border border-gray-400 text-gray-600">
            
            <option value="">Pizza</option>
            <option value="JM">Empandas</option>
            <option value="SRV">Asado</option>
            <option value="JH">Tu vieja</option>
            <option value="BBK">Tu hermana</option>
            <option value="AK">Tu prima</option>
          </select>
        </div>
      </header>
<div class="full" id="map">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

</div></section>
