
.container {

  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #282835; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  text-align: center;
}


h1 {
  font-size: 24px;
  margin: 0 0 10px; 
  color: #f5f5f5;
}


p {
  font-size: 16px;
  margin: 0 0 20px; 
  color: rgb(231, 229, 229);
}


#consulta {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background-color: #1c1d25d0; 
  font-size: 16px;
  color: #797171;
}


button {
  background-color: #d42828; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
