<header class="bg-orange-400 mt-0 ">

  <div class="flex h-12 items-center justify-between">

    <div class="flex items-center space-x-6">
      <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
        href="/inicio">
        <img class="w-44" src="./assets/images/logoQmorfo.png" alt="logo">

      </a>

      <nav aria-label="Global">
        <ul class="flex items-center gap-6 ml-[-2rem] ">
          <li class="m">
            <a class="text-gray-500  font-semibold transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
              href="/contactos">
              Contactanos
            </a>
          </li>

          <li>
            <a class="text-gray-500 font-semibold transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
              href="/establecimiento">
              Locales
            </a>
          </li>

          <li>
            <a class="text-gray-500 font-semibold transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
              href="/inicio">
              Mapa
            </a>
          </li>

          <li>
            <a class="text-gray-500 font-semibold transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
              href="/comentarios">
              Comentarios
            </a>
          </li>
        </ul>
      </nav>
    </div>


    <div class="flex items-center space-x-4">

      <div class="flex gap-4">


        <div *ngIf="mostrarFiltro" class="sm:flex sm:gap-4">
          <select name="HeadlineAct" id="HeadlineAct" (change)="onCategoriaSeleccionada($event)"
            class="mt-2.7 w-full rounded-lg border-gray-700 text-gray-600 sm:text-center">
            <option disabled selected value="">Filtrar por</option>
            <option value="bar">Bares</option>
            <option value="cafe">Cafeterias</option>
            <option value="restaurante">Restaurantes</option>
            <option value="tacc">Sin TACC</option>
            <option value="petfriendly">Pet friendly</option>
            <option value="vegano">Apto vegano</option>
            <option value="todo">Mostrar todo</option>
          </select>
        </div>


        <a *ngIf="!isLoggedIn; else loggedIn"
          class="rounded-xl bg-custom-100 px-5 py-2.5 text-sm font-medium text-white shadow dark:hover:bg-red-500"
          [routerLink]="'/login'">
          Ingresar
        </a>
        <ng-template #loggedIn>
          <button
            class="rounded-xl bg-custom-100 px-5 py-2.5 text-sm font-medium text-white shadow dark:hover:bg-red-500"
            [type]="isLoggedIn ? 'button' : 'submit'" (click)="logOut()">
            Salir
          </button>

        </ng-template>

        <div class="hidden sm:flex">
          <ng-container *ngIf="!isLoggedIn;">
            <a class="rounded-xl bg-custom-100 px-5 py-2.5 text-sm font-medium text-white shadow dark:hover:bg-red-500"
              href="/signup">
              Registrarse
            </a>
          </ng-container>
        </div>
      </div>

    </div>

  </div>
</header>