<app-principal></app-principal>


<section class="bg-gradient-to-r from-red-200 to-orange-300 min-h-screen">
  <div class="grid grid-cols-4 gap-10 mx-24">
    <ng-container *ngFor="let establecimiento of establecimientos">
      <div class="relative group mt-10" (click)="redirectToUrl(establecimiento.redes)" style="cursor: pointer;">
        <div class="rounded-t-2xl overflow-hidden">
          <div class="w-full h-64 overflow-hidden transform transition-transform group-hover:scale-110">
            <img class="w-full h-full object-cover" *ngIf="establecimiento.imagenUrl" [src]="establecimiento.imagenUrl"
              alt="{{ establecimiento.nombre }}">

          </div>
        </div>
        <div class="p-4 bg-orange-200  text-center rounded-b-2xl">
          <p class="text-xl font-bold">{{establecimiento.nombre}}</p>
          <p class="text-m">{{establecimiento.direccion}}</p>

        </div>
      </div>
    </ng-container>
  </div>
</section>
